/Solitaire/[Ll]ibrary/
/Solitaire/[Tt]emp/
/Solitaire/[Oo]bj/
/Solitaire/[Bb]uild/
/Solitaire/[Ll]ogs/
/Solitaire/[Uu]ser[Ss]ettings/
/Solitaire/[Mm]emoryCaptures/
/Solitaire/[Rr]ecordings/


/Solitaire/[Aa]ssets/Plugins/Editor/JetBrains*
/Solitaire/[Aa]ssets/[Ss]treamingAssets/aa.meta
/Solitaire/[Aa]ssets/[Ss]treamingAssets/aa/*


/Solitaire/.vs/
/Solitaire/.gradle/
/Solitaire/ExportedObj/
/Solitaire/*.csproj
/Solitaire/*.sln
/Solitaire/*.user
/Solitaire/*.pidb
/Solitaire/*.pdb
/Solitaire/*.mdb


/Solitaire/*.apk
/Solitaire/*.aab
/Solitaire/*.unitypackage
